/* INDEX PAGE */
.carousel-img {
    width: 50%;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer; 
    transition: 0.2s;
}
.carousel-img:hover {
    transform: scale(1.05);
}
.carousel-indicators li {
    font-size: 0;   /* Hide the indicator text i.e. numbers */
}


/* GALLERY PAGE */
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.photo-container {
    position: relative;
    width: calc(33.333% - 10px); /* Example for 3 images per row, adjust spacing as needed */
    margin: 5px; /* Spacing between images */
}
.photo-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.2s;
}
.photo-container:hover img {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.7;
}
.hover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none; /* Prevents text from interfering with image click */
}
.photo-container:hover .hover-text {
    opacity: 1;
}


/* STUDIO PAGE */
.drop-zone {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}
.drop-zone img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.drop-zone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(13, 17, 23, 0.95), rgba(34, 48, 63, 0.85), rgba(36, 49, 64, 0.75));
    z-index: 0;
}
.drop-zone * {
    position: relative;
    z-index: 1;
}
.file-input {
    display: none;
}
.studio-text-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.studio-text-form form input {
    padding: 10px 20px;
    font-size: 16px;
    min-width: 100%;
    margin: 10px 0;
}
.studio-text-form form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#mergeBlock {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
}

#mergeButton {
    border: none;
    width: 12em;
    height: 4em;
    margin: 30px 0;
    border-radius: 3em;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}
.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}
.btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
}
.btn:hover .sparkle {
    fill: white;
    transform: scale(1.1);
}
.inputbox {
    position: relative;
    width: 196px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
    height: 44px;
}

/* DOCS PAGE */
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.collapse:not(.show) + .arrow {
    transform: rotate(-180deg);
}

.collapse + .arrow {
    color: #FF0000;
}



/* RESULT PAGE */
#mergedImage {
    width: 50%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
}

