/* INDEX PAGE */
.carousel-img {
    width: 50%;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer; 
    transition: 0.2s;
}
.carousel-img:hover {
    transform: scale(1.05);
}
.carousel-indicators li {
    font-size: 0;   /* Hide the indicator text i.e. numbers */
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-chevron-right" viewBox="0 0 16 16"><path d="M5.646 8l4.647-4.646a.5.5 0 0 0-.708-.708l-5 5a.5.5 0 0 0 0 .708l5 5a.5.5 0 0 0 .708-.708L5.646 8z"/></svg>');
}
.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-chevron-left" viewBox="0 0 16 16"><path d="M10.354 8l-4.647-4.646a.5.5 0 0 1 .708-.708l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 0 1-.708-.708L10.354 8z"/></svg>');
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

/* GALLERY PAGE */
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.photo-container {
    position: relative;
    width: calc(33.333% - 10px); /* Example for 3 images per row, adjust spacing as needed */
    margin: 5px; /* Spacing between images */
}
.photo-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.2s;
}
.photo-container:hover img {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.7;
}
.hover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none; /* Prevents text from interfering with image click */
}
.photo-container:hover .hover-text {
    opacity: 1;
}


/* STUDIO PAGE */
.drop-zone {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}
.drop-zone img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.drop-zone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(13, 17, 23, 0.95), rgba(34, 48, 63, 0.85), rgba(36, 49, 64, 0.75));
    z-index: 0;
}
.drop-zone * {
    position: relative;
    z-index: 1;
}
.file-input {
    display: none;
}
.studio-text-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.studio-text-form form input {
    padding: 10px 20px;
    font-size: 16px;
    min-width: 100%;
    margin: 10px 0;
}
.studio-text-form form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container .btn {
    display: inline-block; /* Allows the button to have a specific width */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 3px solid #0FC2C0;
    border-radius: 30px;
    color: #0FC2C0;
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
}
.modal-container .btn:hover {
    background: none;
}

#modelModal .unique-card {
    width: 32%; /* Adjust the width for three cards per view */
    height: 350px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: linear-gradient(to top right, rgb(41, 37, 39), rgb(5, 92, 63));
}

#modelModal .unique-card-img {
    height: 220px; /* Adjust image height here */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

#modelModal .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modelModal .card-title {
    font-size: 1.25rem; /* Adjust title font size */
    font-weight: bold;
    color: white;
}
#modelModal .card-text {
    font-size: 1rem; /* Adjust text font size */
    color: #6c757d; /* Adjust text color */
}
#modelModal .badge {
    background-color: #0FC2C0; /* Adjust badge background color */
    color: white; /* Adjust badge text color */
}
#modelModal .carousel-inner {
    display: flex;
    align-items: center; /* Centers the cards vertically */
}
#modelModal .badge {
    margin: 0.125rem; /* Space between badges */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
#mergeBlock {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
}
#mergeButton {
    border: none;
    width: 12em;
    height: 4em;
    margin: 30px 0;
    border-radius: 3em;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}
.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}
.btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
}
.btn:hover .sparkle {
    fill: white;
    transform: scale(1.1);
}

/* DOCS PAGE */
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.collapse:not(.show) + .arrow {
    transform: rotate(-180deg);
}


/* RESULT PAGE */
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.image-container img {
    max-height: 768px;
    max-width: 100%;
    object-fit: contain;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.editor-options {
    border: 2px solid #eef5d8;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.editor-menu button {
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #fff;
}
.editor-menu button:hover {
    background: none;
    color: #9FC131;
    font-weight: bold;
}