<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Hero-Features-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Lightbox-Gallery-baguetteBox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Team-Horizontal-images.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
</head>

<body style="background: var(--bs-emphasis-color);">
    <nav class="navbar navbar-expand-md text-light bg-transparent py-3" style="border-style: solid;border-top-style: none;border-right-style: none;border-bottom: 1px solid var(--bs-dark-border-subtle);border-left-style: none;font-weight: bold;" data-bs-theme="dark">
        <div class="container"><a class="navbar-brand link-body-emphasis d-flex align-items-center" href="{{ url_for('main_bp.index')}}"><img src="{{ url_for('static', filename='img/brand.png') }}" style="max-height: 60px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link active" href="{{ url_for('main_bp.studio') }}">Studio</a></li>
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" href="{{ url_for('main_bp.gallery') }}">Gallery</a></li>
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" href="{{ url_for('main_bp.docs') }}">Docs</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <p class="text-white mb-0">Copyright © 2024 Fusion<span style="color: #A6BC09; font-family: 'Brush Script MT', cursive; font-size:1.5em">X</span></p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" type="module"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6" type="module"></script>
    <script src="{{ url_for('static', filename='js/Lightbox-Gallery-baguetteBox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Lightbox-Gallery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>