{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <section class="photo-gallery py-4 py-xl-5" style="background: url(&quot;static/img/whirl.svg&quot;) center / cover no-repeat;">
        <div class="container">
            <div class="row text-white mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="text-capitalize fs-1 fw-bolder mb-3" style="line-height: 2;letter-spacing: 5px;font-weight: bold;">Style Gallery</h2>
                    <hr>
                    <p class="font-monospace fs-5 w-lg-50">To apply a specific style to your own image, hover over your favorite style image and click "Use Image"</p>
                </div>
            </div>
            <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
                {% for image in images %}
                    <div class="col item photo-container" onclick="selectStyleImage('{{ url_for('static', filename='img/gallery/' + image) | escape }}')">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/' + image) }}">
                        <div class="hover-text">Use as Style Image</div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </section>
{% endblock %}