{% extends 'base.html' %}

{% block title %}Merger{% endblock %}

{% block content %}
    <section class="py-4 py-xl-5" style="color: var(--bs-body-bg);">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-capitalize fs-1 fw-bolder mb-3" style="line-height: 2;letter-spacing: 5px;font-weight: bold;">Merged Style!</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image group with 2 images (content and style) and then their merged image -->
    <div class="image-container">
        <h2>Image Comparison</h2>
        <div class="image-group">
            <div>
                <h3>Content Image</h3>
                <!-- Directly use the base64 string as the source of the image -->
                <img src="{{ contentImage }}" alt="Content Image">
            </div>
            <div>
                <h3>Style Image</h3>
                <!-- Directly use the base64 string as the source of the image -->
                <img src="{{ styleImage }}" alt="Style Image">
            </div>
            <div>
                <h3>Merged Result</h3>
                <!-- Directly use the base64 string as the source of the image -->
                <img src="{{ resultImage }}" alt="Merged Image">
            </div>
        </div>
    </div>
{% endblock %}
