<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>scratch</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Hero-Features-icons.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Team-Horizontal-images.css">
</head>

<body style="background: var(--bs-emphasis-color);">
    <nav class="navbar navbar-expand-md text-light bg-transparent py-3" style="border-style: solid;border-top-style: none;border-right-style: none;border-bottom: 1px solid var(--bs-dark-border-subtle);border-left-style: none;font-weight: bold;" data-bs-theme="dark">
        <div class="container"><a class="navbar-brand link-body-emphasis d-flex align-items-center" href="index.html"><img src="assets/img/brand.png" style="max-height: 60px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link active" href="studio.html">Studio</a></li>
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" href="docs.html">Docs</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="py-4 py-xl-5" style="color: var(--bs-body-bg);">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-capitalize fs-1 fw-bolder mb-3" style="line-height: 2;letter-spacing: 5px;font-weight: bold;">Let the Fun Begin!</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid" style="width: 90%;height: 400px;text-align: center;">
                <p class="text-center text-white" style="margin-top: 10px;">Content Image</p><input class="border rounded-pill border-1 border-light-subtle" type="file" required="" accept="image/*" style="color: var(--bs-teal);margin: 20px;" name="upload" value="content">
            </div>
            <div class="col-md-6"><img style="width: 90%;height: 400px;text-align: center;">
                <p class="text-center text-white" style="margin-top: 10px;">Style Image</p><input class="border rounded-pill border-1 border-light-subtle" type="file" required="" accept="image/*" style="color: var(--bs-teal);margin: 20px;" name="upload" value="style">
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center;margin-top: 50px;margin-bottom: 50px;">
        <div class="row">
            <div class="col-md-6"><input class="bg-transparent border rounded-0 border-2" type="text" autocomplete="on" required="" minlength="10" maxlength="200" placeholder="Prompt to Generate Content Image ..." style="width: 90%;height: 100px;padding: 20px;" name="prompt" data-bs-theme="dark"><button class="btn btn-primary fs-6 fw-semibold border rounded-pill border-2 border-success" type="submit" style="background: rgb(0,0,0);margin-top: 25px;margin-bottom: 25px;">Generate</button></div>
            <div class="col-md-6"><input class="bg-transparent border rounded-0 border-2" type="text" autocomplete="on" required="" minlength="10" maxlength="200" placeholder="Prompt to Generate Style Image ..." style="width: 90%;height: 100px;padding: 20px;" name="prompt" data-bs-theme="dark"><button class="btn btn-primary fs-6 fw-semibold border rounded-pill border-2 border-success" type="submit" style="background: rgb(0,0,0);margin-top: 25px;margin-bottom: 25px;">Generate</button></div>
        </div>
    </div>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <p class="text-white mb-0">Copyright © 2024 Artistic Vision</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" type="module"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6" type="module"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
</body>

</html>